# csv to json

> Original Author: Joseph P. Vantassel

> Edited by Cheng-Hsi Hsiao

Convert cleaned `.csv` data to `.json`.

In [1]:
import json
import math

import pandas as pd

In [4]:
fname = "2023_fall_members"
#fname = "2020_member_responses_clean"
df = pd.read_csv(fname + ".csv")
df.head()

,Timestamp,First Name,Last Name,UT EID,UT email address,What program are you in?,Do you plan to graduate this semester?,What country are you from?,State (if applicable),City,Birth Date,Personal Photo,Bio Link
0,8/22/2023 9:19:02,Brent,Sordo,Bts2222,Bsordo@utexas.edu,PhD,No,United States,California,Modesto,11/26,NaN,NaN
1,8/22/2023 9:28:00,Mehmet,Turkezer,mt39834,mehmet.turkezer@utexas.edu,PhD,No,Turkey,NaN,Ankara,7/25,https://drive.google.com/open?id=1dVmHD1zPrRkX...,https://linkedin.com/in/mturkezer
2,8/22/2023 9:35:04,Ashish,Govindan,aag4284,a.govindan@utexas.edu,MS,No,United States,Texas,Lubbock,8/31,https://drive.google.com/open?id=1u6fGP9yvowec...,www.linkedin.com/in/ashish-govindan-eit-571868151
3,8/22/2023 10:09:38,Anusha,Vajapeyajula,av35875,anushav@utexas.edu,MS,Yes,India,NaN,NaN,12/8,https://drive.google.com/open?id=1quMPNybzbLLN...,https://www.linkedin.com/in/anusha-vajapeyajulaa5
4,8/22/2023 11:29:29,Sharen,Wallace,saw4373,sawallace@utexas.edu,MS,No,British Virgin Islands,NaN,NaN,3/13,NaN,http://linkedin.com/in/sharenwallace

In [5]:
# create a clean version df
df['name'] = df['First Name'] + " " + df['Last Name']
df.rename(columns={'What program are you in?':'degree',
                   'What country are you from?':'country',
                   'State (if applicable)':'state',
                   'City':'city',
                   'Bio Link':'link'}, inplace=True)
df = df[['name','degree','country','state','city','link']]
df.sort_values(by=['name'], inplace=True)
df

,name,degree,country,state,city,link
14,A. Mert Kavala,MSc & PhD,Turkey,NaN,Istanbul,https://www.linkedin.com/in/mertkavala
20,Adityo Andikaputra,MS,Indonesia,West Java,Bandung,https://www.linkedin.com/in/adityo-muhammad-an...
23,Angel de la Cruz,MS,United States,Texas,Austin,https://www.linkedin.com/in/angel-de-la-cruz-9...
24,Anthony Matar,MS,Lebanon,NaN,Beirut,https://www.linkedin.com/in/anthony-matar-5465...
3,Anusha Vajapeyajula,MS,India,NaN,NaN,https://www.linkedin.com/in/anusha-vajapeyajulaa5
2,Ashish Govindan,MS,United States,Texas,Lubbock,www.linkedin.com/in/ashish-govindan-eit-571868151
0,Brent Sordo,PhD,United States,California,Modesto,NaN
5,Carlos Acosta,PhD,Colombia,NaN,NaN,https://sites.utexas.edu/zornberg/carlos-acosta/
17,Cheng-Hsi Hsiao,PhD,Taiwan,NaN,Taipei,https://www.linkedin.com/in/cheng-hsi-hsiao/
28,Chenghao Bai,PhD,China,NaN,Anqing,Linkedin: https://www.linkedin.com/in/chenghao...
6,Chih-Yu Tung,PhD,Taiwan,NaN,Taichung,https://www.linkedin.com/in/chih-yu-tung-sheldon/
15,Dawie Marx,PhD,South Africa,NaN,Pretoria,https://www.linkedin.com/in/dawie-marx/
11,Etienne Gonzalez,PhD,Mexico,NaN,Mexico City,https://www.linkedin.com/in/etiennegonzalez/
26,Fernando Ramirez,MS,Mexico,NaN,San Luis Potosi,https://www.linkedin.com/in/fernando-ramirez-e...
18,Jeremy Goethals,MS,United States,Texas,Houston,https://www.linkedin.com/me?trk=p_mwlite_my_ne...
25,Jorge Loaisiga,MS,Nicaragua,NaN,Managua,linkedin.com/in/loaisiga
9,Jorge Zornberg,Professor,"USA, Argentina",NaN,NaN,https://sites.utexas.edu/zornberg/
7,Julia Grasley,PhD,United States,Texas,College Station,https://www.linkedin.com/in/julia-grasley-6b7a...
27,Krishna Kumar,Not Applicable,India,Tamil Nadu,Madurai,NaN
13,Leila Roshanali,PhD,Iran,NaN,Shiraz,NaN
1,Mehmet Turkezer,PhD,Turkey,NaN,Ankara,https://linkedin.com/in/mturkezer
21,Omar Abukassab,MSc & PhD,Jordan,NaN,Irbid,NaN
10,Shantel Ramlo,MS,United States,South Dakota,Brookings,https://www.linkedin.com/in/shantelramlo/
4,Sharen Wallace,MS,British Virgin Islands,NaN,NaN,http://linkedin.com/in/sharenwallace
8,Shuyi Zhang,PhD,China,Jiangxi,Ganzhou,NaN
12,Sujin Park,PhD,South Korea,NaN,Seoul,https://drive.google.com/file/d/1IVJEVAZj_Br5I...
16,Will Pliska,MS,United States,Washington,Seattle,NaN
22,Yiwei Ye,PhD,China,NaN,Wenzhou,yeyiwei.org
19,Yongjin Choi,PhD,South Korea,NaN,Busan,https://sites.google.com/view/geo-yjchoi/

In [6]:
path = "images/members/"
members = []
for index, line in df.iterrows():
    name, degree, country, state, city, link = line
    split_name  = name.split(" ")

    fname = split_name[0].lower()
    for _name in split_name[1:]:
        fname += "_" + _name.lower()
    fname += ".jpg"
    
    if isinstance(state, (float)):
        if math.isnan(state):
            state = ''
    if isinstance(city, (float)):
        if math.isnan(city):
            city = ''
    if isinstance(link, (float)):
        if math.isnan(link):
            link = None

    members.append({"name":name, "path":path + fname, "degree":degree, "country":country, "state":state, "city":city, "link":link})
        
with open("members.json", "w") as f:
    json.dump(members, f, indent=4)

In [32]:
len(members)

19