# csv to json

> Joseph P. Vantassel

Convert cleaned `.csv` data to `.json`.

In [1]:
import json
import math

import pandas as pd

In [2]:
df = pd.read_csv("2020_member_responses_clean.csv")
df.head()

            name degree        country        state      city
0     Shiyuan Li    PhD          China      Guangxi    Guilin
1    Nolan Greth    MSc  United States       Nevada    Minden
2  Arijit Sarkar    MSc          India  West Bengal  Siliguri
3     Qiuyu Wang    PhD          China        Anhui    Anqing
4       Steve Xu    PhD          China      Jiangsu   Nanjing

In [3]:
path = "images/members/"
members = []
for index, line in df.iterrows():
    name, degree, country, state, city = line
    split_name  = name.split(" ")

    fname = split_name[0].lower()
    for _name in split_name[1:]:
        fname += "_" + _name.lower()
    fname += ".jpg"
    
    if isinstance(state, (float)):
        if math.isnan(state):
            state = None

    members.append({"name":name, "path":path + fname, "degree":degree, "country":country, "state":state, "city":city})
        
with open("members.json", "w") as f:
    json.dump(members, f)

In [4]:
len(members)

32